@import 'variables';

body {
  -webkit-tap-highlight-color: transparent;//解决手机端点击出现浅蓝色背景
}

a {
  text-decoration: none;
  color: $hrefColor;
}

// 解决sidebar-mini时icon无法隐藏
.sidebar-mini .el-submenu__icon-arrow {
  display: none;
}

.el-table th>.cell{
  text-align: center;
}

.el-input {
  margin-bottom: 10px;
}
.el-form-item__label {
  font-weight: bold;
}

@media (max-width: 767px) {
  .el-message,
  .el-message-box {
    // 解决手机端显示宽度超出页面
    width: calc(100% - 20px)!important;
    min-width: calc(100% - 20px)!important;
    max-width: 420px;
  }
}
