@import 'variables';

body {
  -webkit-tap-highlight-color: transparent;//解决手机端点击出现浅蓝色背景
}

a {
  text-decoration: none;
  color: $hrefColor;
}

// 解决sidebar-mini时icon无法隐藏
.sidebar-mini .el-submenu__icon-arrow {
  display: none;
}
