//Common
$hrefColor: #36c6d3;

//Header
$headerHeight: 50px;
$headerColor: #fff;
$headerBg: #2b3643;

//Sidebar
$sidebarWidth: 200px;
$sidebarMiniWidth: 64px;
$sidebarBg: #364150;
$sidebarColor: #b4bcc8;
// $sidebarMobileBg: rgba(54, 65, 80, 0.9);

$navBrandWidth: 160px;

$avatarWidth: 40px;
$avatarHeight: 40px;


//MainContent
$contentBg: #e4e5e6;
$contentColor: #333;

//Footer
$footerBg: #2b3643;
$footerHeight: 50px;
$footerColor: #fff;
$footerFontSize: 10px;
$backTopBg: rgba(54, 65, 80, 0.7);
$backTopHoverBg: rgba(54, 65, 80, 0.9);
$backTopHoverColor: #fff;
$backTopColor: #b4bcc8;
$backTopRight: 30px;
$backTopBottom: 30px;

//Toggler
$togglerColor: #a7b5c6;
$togglerHoverColor: #fff;